body {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	min-height: 100vh;
	margin: 0;
}

#counter {
	font-size: 1.7em;
	padding: 8px 20px;
}

#image {
	max-width: 75vw;
	max-height: 75vh;
	object-fit: contain;
	margin-bottom: 20px;
}

.buttons {
	display: flex;
	gap: 10px;
}